/*
 * Lelylan Dev Center Documentation
 *
 * Table of contents:
 * - saas
 * - scaffolding
 * - top (contextual) navigation
 * - left navigation
 * - code sintax
 * - steps animations
 */

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/* import to override variables and to access the mixins */

@import "bootstrap-sass/lib/bootstrap";

/* variables */

$lelylanColor:           #BB234E;
$lelylanHoverColor:      #018DCF;
$lelylanBackgroundColor: #009FC7;
$linkColor:              $lelylanColor;
$linkColorHover:         $lelylanHoverColor;

/* mixins */

@mixin box-shadow {
  $intensity: 0.2;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0,$intensity);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0,$intensity);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, $intensity);
}


/* * * * * * * */
/* Scaffolding */
/* * * * * * * */

/* body defaults */

body {
  background-color: #f8f8f8 !important;
  padding-top: 100px; /* Account for fixed navbar */
  position: relative; /* For scrollyspy */
}

/* anchor positioning */

h1[id] {
  border-top:120px solid transparent;
  margin-top:-120px;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
}

h2[id] {
  padding-top: 100px;
  margin-top: -90px;
}

h3[id] {
  border-top:100px solid transparent;
  margin-top:-100px !important;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
}

/* titles */

.bs-title {
  background-color: $lelylanBackgroundColor;
  color: #fff;
  margin: 0;
  padding: 20px 60px;
}

.bs-title h1 {
  font-size: 48px;
  font-weight: 200;
}

.bs-title h4 {
  color: #9EDAE6;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* internal subtitles */

.bs-docs-section {
  padding: 20px 60px 40px;

  h2 {
    color: $lelylanColor;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 200;
  }

  h3 {
    font-size: 22px;
    margin: 30px 0 20px;
    font-weight: 200;
  }

  p,
  ul li {
    font-size: 17px;
    font-weight: 200;
    line-height: 1.6;
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    margin-bottom: 20px;
  }
}

/* multiselection subtitles */

.bs-title .nav-pills {
  margin-top: 20px;

  li {
    margin-right: 13px;
  }

  li a {
    background-color: #fff;
    border: none;
    border-radius: 0;
    color: $lelylanColor;
  }

  li.active a,
  li a:hover {
    background-color: $lelylanHoverColor;
    color: #fff !important;
  }
}


/* documentation page */

.bs-docs {
  background-color: #fbfbfb;
  padding: 0;
  @include box-shadow;

  p a,
  table a,
  li a {
    color: $linkColor !important;
  }

  p a:hover,
  table a:hover,
  li a:hover {
    text-decoration: none;
    color: $linkColorHover !important;
  }
}

/* link colors animation */

a {
  -webkit-transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
}

/* all blocks following the first one */

.col-md-offset-3 {
  margin-top: 50px;
}


/* * * * * * * * * */
/* Apps navigation */
/* * * * * * * * * */

/* lelylan apps navbar */

.lelylan-navbar-apps {
  background-color: $lelylanBackgroundColor;
  border: none;
  height: 25px;
  min-height: 25px;
  margin-bottom: 0;
  margin-top: 0;

  .container {
    padding-left: 0;
    padding-right: 0
  }

  .navbar-nav > li > a {
    color: #40D4F0;
    font-size: 11px;
    padding: 2px 30px 0 0;
    text-shadow: 0 0 0 #333;
    text-transform: uppercase;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li.active > a,
  .navbar-nav > li.active > a:hover {
    background-color: transparent;
    color: #eee;
  }

  .signout > a {
    text-transform: none !important;
    font-size: 12px !important;
    padding-right: 0 !important;
    font-weight: 200;
  }
}


/* * * * * * * * * */
/* Top navigation  */
/* * * * * * * * * */

/* Lelylan top menu navbar */

.lelylan-navbar-top-menu {
  border: none;
  height: 50px;
  min-height: 50px;
  margin-bottom: 0;
  @include box-shadow;

  .container {
    padding-right: 0;
  }

  /* menu items */

  .navbar-nav > li > a {
    background-color: transparent;
    color: $linkColor !important;
    padding-right: 0;
    padding-left: 20px;
    font-weight: 200;
    font-size: 15px;
  }

  .navbar-nav > li > a:hover {
    color: $linkColorHover !important;
  }

  .navbar-nav > li > a.dropdown-toggle {
    padding-left: 50px;
  }

  .navbar-nav > li.active > a,
  .navbar-nav > li.active:hover > a,
  .navbar-nav > li.open > a,
  .navbar-nav > li.open > a.dropdown-toggle {
    background-color: transparent;
  }

  .navbar-nav > li.active > a {
    color: $lelylanHoverColor !important;

  }

  /* brand */

  .navbar-brand {
    font-size: 20px !important;
    //text-shadow: 0 1px 0 #eee;
    font-weight: 200;
    padding-left: 15px !important;
    color: #000 !important;
  }
}


/* * * * * * * * * */
/* Left navigation */
/* * * * * * * * * */

/* By default it's not affixed in mobile views, so undo that */

.bs-sidebar.affix {
  position: static;
}

/* First level of nav */

.bs-sidenav {
  //background-color: #f8f8f8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  //@include box-shadow;
}

/* All levels of nav */

.bs-sidebar .nav > li > a {
  color: $lelylanColor;
  display: block;
  font-size: 12px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: $lelylanHoverColor;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  //font-weight: bold;
  color: $lelylanHoverColor;
  background-color: transparent;
  border-left: 1px solid $lelylanHoverColor;
}

/* Nav: second level (shown on .active) */

.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}

.bs-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 25px;
  font-size: 12px;
  line-height: 1.6em;
  //text-transform: none;
}

/* Show and affix the side nav when space allows it */

@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 100px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Widen the fixed sidebar again */

@media screen and (min-width: 1200px) {
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}


/* * * * * * * */
/* Code syntax */
/* * * * * * * */

code {
  color: #111;
  background-color: transparent;
  font-size: 75%;
}

table code {
  font-size: 90%;
  padding-left: 0;
}

pre code,
pre xmp {
  display:block;
  color:#111;
  font-family: Monaco, Consolas, monospace;
  font-size:12px;
  line-height:1.5;
  padding:5px;
  margin: 5px 3px;

  hr {
    margin: 15px 0 0;
  }
}

pre {
  margin: 0 0 40px;
  padding: 5px 0 5px 5px !important;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 0;
}

ul.nav-tabs,
ol.nav-tabs {
  margin:15px 0 0 0;
  line-height:1.7em
}

ul.nav-tabs li.active a,
ol.nav-tabs li.active a {
  background-color: #f8f8f8;
}

ul.nav-tabs {
  padding-left:0
}

div.tab-content pre {
  border-top:none
}

.nav-tabs > li > a {
  font-size: 16px;
  font-weight: 200;
}

.nav-tabs > li a {
  color: $linkColor;
}

.nav-tabs > li.active a:hover,
.nav-tabs > li.active a {
  color: $linkColorHover;
  background-color: #f8f8f8;
}

.code-block {
  margin: 20px 0 30px;
}


/* * * * * * * * * */
/* Animated steps  */
/* * * * * * * * * */

.animation {
  max-width: 100%;
  background-color: #fff;
  padding: 0 15px 5px 20px;
  border: 1px solid #ddd;
  margin: 20px 0;

  h3 {
    display:inline;
  }

  p {
    float:clear;
    margin-top: 15px;
    margin-left: 6px;
  }

  pre {
    margin-left: 4px;
  }

  .button-lelylan {
    background-color: $lelylanColor;
  }

  .button-lelylan:hover {
    color: #fff;
  }

  .canvas {
    position:relative;
    width: 690px;
    height: 40px;
    margin: 20px 0 20px 0;
  }

  .action {
    padding-left: 5px;
    padding-bottom: 10px;
  }
}


/* * * * * * * * */
/* Button style  */
/* * * * * * * * */

.btn-lelylan {
  background: $lelylanColor;
  box-sizing: border-box;
  min-height: 35px;
  width: auto;
  display: inline-block;
  padding: 0.9em 1.37em;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0.2em;
  border: rgba(0,0,0,0.05) 0.1em solid;
  -webkit-transition: background 0.3s ease, border-color 0.3s ease;
  -moz-transition: background 0.3s ease, border-color 0.3s ease;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.btn-lelylan:hover {
  background: $lelylanHoverColor;
  color: #fff;
  text-decoration: none;
}

.button-group {
  width: 390px;
  margin:0 auto;
  margin-bottom: 40px;

  a {
    font-size: 16px
  }
}


/* * * * * * * * */
/* Table Listing */
/* * * * * * * * */

table {
  margin: 20px 0;

  tr th {
    border-bottom: 1px solid #dddddd !important;
    text-transform: uppercase;
    font-style: italic;
  }

  tr td,
  tr th {
    color: #333;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5 !important;
  }

 .parameter {
    width: 30%;
  }

 .extra {
    width: 30% !important;
  }

  .nested {
    padding-left: 30px !important;
  }

  .parameter span {
    font-style: italic;
  }

  span.info {
    display: block;
    color: #888;
    font-style: italic;
  }
}

.table-labeled {

  .label {
    padding: 0;
  }

  .label {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    padding: 3px 6px 2px;
    text-transform: uppercase;
    background: #eee;
    border: 1px solid #ddd;
    color: #333;
  }

  .link {
    background: #E5F4FF;
    border: 1px solid #C5EAFF;
  }
}




/* * * * * * */
/* Home Page */
/* * * * * * */

body.presentation {
  padding-top: 40px;
  background-color: #fbfbfb !important;
  text-rendering: optimizeLegibility;

  .lelylan-navbar-top-menu {
    background-color: #fbfbfb !important;
  }

  .presentation-block > .row {
    padding: 90px 0 60px;
    border-bottom: 1px solid #eee;
  }

  .banner {
    margin-top: 10px;
    height: 360px;
    //background: $lelylanColor url(../images/index-header.png) center center;
    background-color: #333;
    color: #fff;
    background-size: cover;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd;

    .banner-content {
      padding: 120px 40px;
      font-weight: 300;
    }

    p, h1 {
      text-align: center;
      background: #000 !important;
      margin-bottom: 5px;
      margin-left: 25px;
      padding: 9px 15px 10px 20px;
      color: #FFF;
    }

    h1 {
      font-size: 68px;
    }

    p {
      font-size: 32px;
      font-weight: 100;
    }

    .banner-button {
      text-align: center;

      a {
        border: #ddd 0.1em solid;
        margin-top: 45px;
        height: 52px;
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 2px;
      }
    }

  }

  h1 {
    font-size: 2.8em;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    font-weight: 200;
  }

  h4 {
    color: #666;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 0;
    letter-spacing: 1px;
  }

  p {
  font-size: 18px;
  font-weight: 200;
  color: #333;
  margin-bottom: 35px;
  }

  .pull-left,
  .pull-right {
    padding-top: 20px;
  }

  p a {
    color: $linkColor;
  }

  p a:hover {
    text-decoration: none;
    color: $linkColorHover;
  }
}

/* detailed blocks */

.bs-detailed h1 {
  font-size: 64px !important;
  font-weight: 200;
}

.bs-detailed h2 {
  margin-top: 40px;
  margin-bottom: 25px;
}



/* * * * * */
/* Footer  */
/* * * * * */

footer .bs-docs-section {
  padding-right: 0;

  a {
    color: $linkColor !important;
  }
  a:hover {
    text-decoration: none;
    color: $linkColorHover !important;
  }
}



/* * * * * * * * */
/* Miscellaneous */
/* * * * * * * * */

.alert {
  padding: 10px;

  .label-lelylan {
    color: $lelylanColor;
    text-transform: uppercase;
    background-color: #fff;
    margin-right: 5px;
    font-weight: 400;
    padding: .3em .6em .2em;
    letter-spacing: 1px;
  }

  p {
    color: #3A3A3A;
    margin-bottom: 0;
    font-size: 16px;
  }
}

img {
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 1px solid $lelylanColor;
}
