<style>
  .btn-oauth a{
    background: #239cbb;
    box-sizing: border-box;
    min-height: 35px;
    width: auto;
    display: inline-block;
    padding: 0.9em 1.37em;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 0.2em;
    border: rgba(0,0,0,0.05) 0.1em solid;
    -webkit-transition: background 0.3s ease, border-color 0.3s ease;
    -moz-transition: background 0.3s ease, border-color 0.3s ease;
    transition: background 0.3s ease, border-color 0.3s ease;
  }

  .btn-oauth a:hover {
    background: #01cf9e;
    color: #fff;
    text-decoration: none;
  }
</style>

<span class="oauth btn-oauth">
  <a href="#" class="logged-out" ng-show="show=='logged-out'" ng-click="login()">Sign In</a>
  <a href="#" class="logged-in"  ng-show="show=='logged-in'"  ng-click="logout()">Logout {{profile.full_name}}</a>
  <a href="#" class="denied"     ng-show="show=='denied'"     ng-click="login()">Access denied. Try again.</a>
</span>
