
* {
  -webkit-box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 17px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  background: white;
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: #000;
}

section {
  min-height: 50%;
}

section:not(:last-child) {
  border-bottom: 1px solid #eee;
}

section:not(#top) {
  padding: 150px 100px;
  text-align: center;
}

pre {
  margin: 2em 0;
  background: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 25px;
  font-size: .9em;
  font-family: monospace;
  overflow-x: auto;
}

xmp {
  margin: 0;
}

.content img {
  width: 100%;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 2em 0;
  border-radius: 5px;
}

p {
  font-weight: 300;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

code {
  font-family: monospace;
  font-size: .9em;
}

h1 {
  font-size: 2em;
  margin-top: 0em;
  padding-top: 1em;
}

h1:not(:first-child) {
  margin-top: 50px;
}

h2 {
  margin-top: 80px;
  font-size: 1.2em;
}

h3 {
  margin-top: 40px;
  font-size: 1em;
}

ul li {
  padding: 0.1em 0;
  /*font-size: .8em;*/
}

section:nth-child(2n) {
  background: #fdfdfd;
  box-shadow: inset 0 1px 0 0 white;
}

.content {
  margin: 0 auto;
  max-width: 750px;
  text-align: left;
}

#top {
  height: 100%;
}

#heading {
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  text-align: center;
  width: 100%;
}

#logo {
  font: 100px 'Italiana', sans-serif;
  text-transform: lowercase;
}

#tagline {
  font-size: 16px;
}

.github-img {
  width: 100px;
}

#menu {
  position: fixed;
  top: 35px;
  right: 30px;
  z-index: 50;
}

#menu:hover ul {
  display: block;
}

#menu a {
  color: inherit;
}

#menu a#toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: rgba(255,255,255,.9);
  border-radius: 2px;
  border: 1px solid transparent;
  z-index: 5;
}

#menu:hover a#toggle {
  border: 1px solid #efefef;
  border-bottom: none;
}

#menu i.icon-menu {
  font-size: 1.5em;
}

#menu ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 2.8em;
  right: 0;
  margin: 0;
  border: 1px solid #efefef;
  border-bottom: 1px solid #ddd;
  border-radius: 2px;
  padding: 25px;
  background: rgba(255,255,255,.95);
  box-shadow: 0 1px 3px 0 #eee;
}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  display: block;
  text-decoration: none;
  padding: 3px 0;
}

#menu ul li a:hover {
  text-decoration: underline;
}

ul.task-list {
  list-style-type: none;
  padding-left:10px;
}

ul.task-list .task-list-item-checkbox {
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  section:not(#top) {
    padding: 50px 25px;
  }

  #heading {
    margin-top: -75px;
  }

  #logo {
    font-size: 75px;
  }

  #tagline {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
}

/* * * * * * * * */
/* Table Listing */
/* * * * * * * * */

table {
  margin: 40px 0;
  width: 100%;
}

table tr th {
  border-bottom: 1px solid #dddddd !important;
  text-transform: uppercase;
  font-style: italic;
}

table tr td,
table tr th {
  color: #333;
  font-weight: 200;
  line-height: 1.5 !important;
  border-bottom: 1px solid #eee;
  padding: 12px 0;
  vertical-align: top;
}

table .parameter {
  width: 35%;
}

table .smaller-titles .parameter {
  width: 25%;
}

table .extra {
  width: 30% !important;
}

table .nested {
  padding-left: 30px !important;
}

table span.info {
  display: block;
  color: #888;
  font-weight: 200;
}

table.button .title {
  text-transform: uppercase;
  font-weight: 600;
}

table.button .parameter {
  width: 100px;
}

.notice {
  background-color: #f4f4f4;
  padding: 1em;
  border: 1px solid #e4e4e4;
}
